<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{./favicon.ico}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Perfil</title>
</head>
<body class="bg-secondary">
    <!-- Navbar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100 fixed-top" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">
                <img th:src="@{./favicon.ico}" alt="">
            </span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column active mb-auto ">
            <li class="nav-item"> 
                <a href="/" class="nav-link text-white"  aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    Inicio
                </a>
            </li>
            <li>
                <a href="/Favoritos" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Favoritos
                </a>
            </li>
            <li>
                <a href="/reserva" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    Reservas
                </a>
            </li>
            <li>
                <a href="/goToPopulares" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#grid"></use>
                    </svg>
                    Populares
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle"></use>
                    </svg>
                    Customers
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong th:text="${userName}"></strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/logout">Cerrar Sesion</a></li>
            </ul>
        </div>
    </div>
    </div>
    <!--  Fin del Navbar -->
    <div class="row m-0 p-0">
        <div class="col-3"></div>
        <!-- Formulario perfil -->
        <div class="col-7 align-items-center d-flex vh-100">
            <div class="bg-white w-100 rounded-2 p-3">
                <form method="post" th:action="@{/perfil}" th:object="${usuario}">
                    <div class="mb-3">
                        <label for="inputUsuario" class="form-label">Usuario:</label>
                        <input th:field="${usuario.username}" class="form-control" type="text" id="inputUsuario" name="username" aria-label="default input example" disabled readonly>
                    </div>                    
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email:</label>
                        <input th:field="${usuario.email}" type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="inputTlf" class="form-label">Telefono:</label>
                        <input th:field="${usuario.tlf}" type="text" class="form-control" name="tlf" id="inputTlf">
                    </div>
                    <div class="mb-3">
                        <label for="inputNacimineto" class="form-label">Fecha Nacimiento:</label>
                        <input th:text="'Fecha registrada: ' + ${#dates.format(usuario.fecNac, 'YYYY-MM-dd')}" type="date" class="form-control" id="inputNacimiento" name="fecNac">
                    </div>
                    <button type="submit" class="btn btn-warning">Guardar</button>
                </form>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

    <!-- Links JS -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>